.p-comment-box{
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.p-required{
    color: red;
}
.p-comment{
    width: 100%;
    min-height: 80px;
    padding: 3px;
    outline: none;
    border: none;
    font-size: .8rem;
    line-height: 18px;
    color: inherit;
    margin: 6px 0;
    box-shadow: 0 0 0 1px rgb(152 152 152 / 20%);
}
.p-comment-label{
    display: block;
    /* font-weight: bold; */
    font-size: 14px;
}
.p-comment-input{
    width: 100%;
    padding: 3px;
    outline: none;
    border: 1px solid #ddd;
    color: inherit;
}
.p-form-item{
    margin-top: 10px;
}
.p-submit-comment{
    /* padding: 3px; */
    cursor: pointer;
    width: 100%;
    padding: 8px 10px;
    box-shadow: 0 0 0 1px rgb(152 152 152 / 20%);
    background: #fff;
    font-size: .8rem;
    margin: 6px 0;
    line-height: 18px;
    border: none!important;
}
.p-comment-avatar{
    width: 32px;
    height: 32px;
}
.p-comment-right{
    width: calc(100% - 40px);
    float: right;
}
.clear{
    clear: both;
}
.p-comment-name{
    font-weight: bold;
    color: #3354AA;
    font-size: 15px;
}
.p-comment-time{
    font-size: 12px;
    color: #6f6e6e;
    margin-left: 4px;
}
.p-comment-list-box{
    margin-top: 12px;
}
.p-comment-item{
    margin-top: 8px;
}
.p-comment-reply{
    text-align: right;
    padding-right: 20px;
    color: #3354AA;
}
.p-comment-reply-btn{
    cursor: pointer;
}
.p-comment-parent{
    border: 1px solid #EEE;
    padding: 10px;
}
.p-cancel-reply{
    cursor: pointer;
    /* color: #3354AA; */
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 14px;
    display: none;
}
.p-reply-user{
    font-weight: bold;
    color: #3354AA;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}
.p-submit-comment:hover {
    background: #3274ff;
    box-shadow: 0 0 0 1px #3274ff;
    color: #fff;
}
body.sepia .submit{
    background: #f3eacb;
    border: 1px solid #a98c51;
    color: #a98c51;
}
body.night .submit{
    color: #bdcadb;
    background: #1c1f2b;
}